<style>
   .selected {
   color: #ff0000 !important;
   border-color: #ff0000 !important;
   }
</style>
<div id="bin-search-wrapper">
   <ul id="bin-search-filters" class="filter-list">
      <h3>Methodologies:</h3>
      {% for methodology_pair in site.data.methodology %}
      {% assign methodology_id = methodology_pair[0] %}
      {% assign methodology = methodology_pair[1] %}
      <li>
         <input type="checkbox" id="{{ methodology.label }}" name="methodology_name" onclick='handleChange(this, "{{ methodology.label }}");'>
         <label id="{{ methodology.label }}_label" for="{{ methodology.label }}" data-title="{{ methodology.description | replace: '\n', ' ' }}">{{ methodology.label }}</label>
      </li>
      {% endfor %}
   </ul>
   <ul id="bin-search-filters" class="filter-list">
      <h3>Services:</h3>
      {% for service_pair in site.data.services %}
      {% assign service_id = service_pair[0] %}
      {% assign service = service_pair[1] %}
      <li>
         <input type="checkbox" id="{{ service.label }}" name="service_name" onclick='handleChange(this, "{{ service.label }}");'>
         <label id="{{ service.label }}_label" for="{{ service.label }}" data-title="{{ service.description | replace: '\n', ' ' }}">{{ service.label }}</label>
      </li>
      {% endfor %}
   </ul>
   <ul id="bin-search-filters" class="filter-list">
      <h3>Platforms & Configuration Review:</h3>
      {% for platform_pair in site.data.platforms %}
      {% assign platform_id = platform_pair[0] %}
      {% assign platform = platform_pair[1] %}
      <li>
         <input type="checkbox" id="{{ platform.label }}" name="platform_name" onclick='handleChange(this, "{{ platform.label }}");'>
         <label id="{{ platform.label }}_label" for="{{ platform.label }}" data-title="{{ platform.description | replace: '\n', ' ' }}">{{ platform.label }}</label>
      </li>
      {% endfor %}
   </ul>
   <ul id="bin-search-filters" class="filter-list">
      <h3>OS:</h3>
      {% for OS_pair in site.data.OS %}
      {% assign OS_id = OS_pair[0] %}
      {% assign OS = OS_pair[1] %}
      <li>
         <input type="checkbox" id="{{ OS.label }}" name="OS_name" onclick='handleChange(this, "{{ OS.label }}");'>
         <label id="{{ OS.label }}_label" for="{{ OS.label }}" data-title="{{ OS.description | replace: '\n', ' ' }}">{{ OS.label }}</label>
      </li>
      {% endfor %}
   </ul>
   <ul id="bin-search-filters" class="filter-list">
      <h3>Vulnerabilities:</h3>
      {% for vulnerabilities_pair in site.data.vulnerabilities %}
      {% assign vulnerabilities_id = vulnerabilities_pair[0] %}
      {% assign vulnerabilities = vulnerabilities_pair[1] %}
      <li>
         <input type="checkbox" id="{{ vulnerabilities.label }}" name="vulnerabilities_name" onclick='handleChange(this, "{{ vulnerabilities.label }}");'>
         <label id="{{ vulnerabilities.label }}_label" for="{{ vulnerabilities.label }}" data-title="{{ vulnerabilities.description | replace: '\n', ' ' }}">{{ vulnerabilities.label }}</label>
      </li>
      {% endfor %}
   </ul>
</div>
<div style="margin-top: -20px;">
   <input id="bin-search" type="text" placeholder="Search among {{ site.testcases | size }} test cases: <test cases> +<filter> ..."/>
</div>
<!-- Move the project name and export button OUTSIDE the table -->
<div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 18px; margin-bottom: 10px;">
   <input id="projectName" type="text" placeholder="Project Name" aria-label="Project Name" style="margin-right: 10px; padding: 6px 8px; border-radius: 4px; border: 1px solid #ccc; min-width: 160px;">
   <button id="exportExcel" class="container-btn-file" type="button" aria-label="Export to Excel">
      <svg
         fill="#fff"
         xmlns="http://www.w3.org/2000/svg"
         width="20"
         height="20"
         viewBox="0 0 50 50"
         style="vertical-align: middle; margin-right: 8px;"
         >
         <path
            d="M28.8125 .03125L.8125 5.34375C.339844 
            5.433594 0 5.863281 0 6.34375L0 43.65625C0 
            44.136719 .339844 44.566406 .8125 44.65625L28.8125 
            49.96875C28.875 49.980469 28.9375 50 29 50C29.230469 
            50 29.445313 49.929688 29.625 49.78125C29.855469 49.589844 
            30 49.296875 30 49L30 1C30 .703125 29.855469 .410156 29.625 
            .21875C29.394531 .0273438 29.105469 -.0234375 28.8125 .03125ZM32 
            6L32 13L34 13L34 15L32 15L32 20L34 20L34 22L32 22L32 27L34 27L34 
            29L32 29L32 35L34 35L34 37L32 37L32 44L47 44C48.101563 44 49 
            43.101563 49 42L49 8C49 6.898438 48.101563 6 47 6ZM36 13L44 
            13L44 15L36 15ZM6.6875 15.6875L11.8125 15.6875L14.5 21.28125C14.710938 
            21.722656 14.898438 22.265625 15.0625 22.875L15.09375 22.875C15.199219 
            22.511719 15.402344 21.941406 15.6875 21.21875L18.65625 15.6875L23.34375 
            15.6875L17.75 24.9375L23.5 34.375L18.53125 34.375L15.28125 
            28.28125C15.160156 28.054688 15.035156 27.636719 14.90625 
            27.03125L14.875 27.03125C14.8125 27.316406 14.664063 27.761719 
            14.4375 28.34375L11.1875 34.375L6.1875 34.375L12.15625 25.03125ZM36 
            20L44 20L44 22L36 22ZM36 27L44 27L44 29L36 29ZM36 35L44 35L44 37L36 37Z"
            ></path>
      </svg>
      Export
   </button>
</div>
<div id="bin-table-wrapper">
   <!-- BEGIN: Export & Testcases Table -->
   <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
   <link rel="stylesheet" href="/assets/css/style.css">
   <table id="testcases">
      <thead>
         <tr>
            <th style="text-align: center;">S.No</th>
            <th style="text-align: center;">Test Case</th>
            <th style="text-align: center; width: 60px;">T/NT</th>
            <th style="text-align: center; width: 60px;">A/NA</th>
            <th style="text-align: center; width: 60px;">V/NV</th>
            <th style="text-align: center;">Comments</th>
         </tr>
      </thead>
      <tbody>
         {% for test in site.testcases %}
         <tr class="test-row"
            data-platforms="{{ test.platforms | join: ',' }}"
            data-methods="{{ test.methodology | join: ',' }}"
            data-services="{{ test.services | join: ',' }}"
            data-os="{{ test.OS | join: ',' }}"
            data-vulnerabilities="{{ test.vulnerabilities | join: ',' }}"
            data-howtotest="{{ test.how-to-test | escape }}"
            data-references="{{ test.references | join: ', ' | escape }}">
            <td style="text-align: center;">{{ forloop.index }}</td>
            <td style="min-width: 240px; text-align: justify;">{{ test.testcase | escape }}</td>
            <td style="width: 60px;">
               <label class="switch tested-switch" aria-label="Tested/Not-Tested">
                  <input type="checkbox" class="tested-toggle">
                  <div class="slider">
                     <div class="circle">
                        <svg class="cross" viewBox="0 0 365.696 365.696" height="6" width="6">
                           <g>
                              <path fill="currentColor" d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"></path>
                           </g>
                        </svg>
                        <svg class="checkmark" viewBox="0 0 24 24" height="10" width="10">
                           <g>
                              <path fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                           </g>
                        </svg>
                     </div>
                  </div>
               </label>
            </td>
            <td style="width: 60px;">
               <label class="switch tested-switch" aria-label="Applicable/Not-Applicable">
                  <input type="checkbox" class="applicable-toggle">
                  <div class="slider">
                     <div class="circle">
                        <svg class="cross" viewBox="0 0 365.696 365.696" height="6" width="6">
                           <g>
                              <path fill="currentColor" d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"></path>
                           </g>
                        </svg>
                        <svg class="checkmark" viewBox="0 0 24 24" height="10" width="10">
                           <g>
                              <path fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                           </g>
                        </svg>
                     </div>
                  </div>
               </label>
            </td>
            <td style="width: 60px;">
               <label class="switch tested-switch" aria-label="Vulnerable/Not-Vulnerable">
                  <input type="checkbox" class="vulnerable-toggle">
                  <div class="slider">
                     <div class="circle">
                        <svg class="cross" viewBox="0 0 365.696 365.696" height="6" width="6">
                           <g>
                              <path fill="currentColor" d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"></path>
                           </g>
                        </svg>
                        <svg class="checkmark" viewBox="0 0 24 24" height="10" width="10">
                           <g>
                              <path fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                           </g>
                        </svg>
                     </div>
                  </div>
               </label>
            </td>
            <td>
               <input type="text" class="comment-input" placeholder="Add comment" aria-label="Add comment">
            </td>
         </tr>
         {% endfor %}
      </tbody>
      <tfoot>
         <tr>
            <td id="search-message" colspan="7">
               Couldn't find the testcases you're looking for? <a href="/testcase_contribute/">Contribute</a> your own!
            </td>
         </tr>
      </tfoot>
   </table>
   <script src="../assets/js/excel.js"></script>
   <!-- END: Export & Testcases Table -->
</div>
<script>
   function updateHash() {
       const checkedInputs = document.querySelectorAll(
           'input[name="methodology_name"]:checked, ' +
           'input[name="service_name"]:checked, ' +
           'input[name="platform_name"]:checked, ' +
           'input[name="OS_name"]:checked, ' +
           'input[name="vulnerabilities_name"]:checked'
       );
       let filters = Array.from(checkedInputs).map(input => input.id);
       let hash = filters.length ? '+' + filters.join('+') : '';
       location.hash = hash;
       document.getElementById("bin-search").value = decodeURIComponent(hash.slice(1));
   }
   
   function handleChange(checkbox, label) {
       if (checkbox.checked) {
           document.getElementById(label).className = 'match';
           document.getElementById(label + "_label").innerText = label + "✓";
       } else {
           document.getElementById(label).className = "";
           document.getElementById(label + "_label").innerText = label;
       }
       // Update the hash based on current filters
       updateHash();
       // Update filter table
       applyFilter();
   }
</script>
<script>
   function filter(query) {
       var queryArray = query.toLowerCase().trim().split(/ *\+/);
       var binPattern = queryArray[0];
       var functionPatterns = queryArray.splice(1);
   
       // filter rows
       var noResults = true;
   
       var allItems = document.getElementsByName("methodology_name");
       var allFilters = document.getElementsByName("service_name");
       var allAttacks = document.getElementsByName("platform_name");
       var allOS = document.getElementsByName("OS_name");
       var allVulns = document.getElementsByName("vulnerabilities_name");
       
       var allItems_parsed = [];
       var allFilters_parsed = [];
       var allAttacks_parsed = []; 
       var allOS_parsed = []; 
       var allVulns_parsed = [];
   
       allFilters.forEach((f) => {
           allFilters_parsed.push(f.id.toLowerCase());
       });
       var filter_chosen = functionPatterns.filter(element => allFilters_parsed.includes(element));
       
       allItems.forEach((i) => {
           allItems_parsed.push(i.id.toLowerCase());
       });
       var item_chosen = functionPatterns.filter(element => allItems_parsed.includes(element));
       
       allAttacks.forEach((a) => {
           allAttacks_parsed.push(a.id.toLowerCase());
       });
       var attack_chosen = functionPatterns.filter(element => allAttacks_parsed.includes(element));
       
       allOS.forEach((o) => {
           allOS_parsed.push(o.id.toLowerCase());
       });
       var os_chosen = functionPatterns.filter(element => allOS_parsed.includes(element));
       
       allVulns.forEach((v) => {
           allVulns_parsed.push(v.id.toLowerCase());
       });
       var vuln_chosen = functionPatterns.filter(element => allVulns_parsed.includes(element));
   
       document.querySelectorAll('#bin-table tbody tr').forEach(function (row) {
           var show = true;
   
           var binName = row.children[0].firstElementChild.innerText.toLowerCase();
           
           var functionElems = Array.from(row.children[0].childNodes[2].children);
       
           if (show) {
               functionElems.forEach((item) => {
                   item.className = '';
               });
               functionElems.forEach((item) => {
                   let siblings = [];
                   if (item.parentNode) {
                       let sibling = item.parentNode.firstChild;
                       while (sibling) {
                           if (sibling.nodeType == 1 && sibling !== item) {
                               siblings.push(sibling);
                           }
                           sibling = sibling.nextSibling;
                       }
                       for (i = 0; i < siblings.length; i++ ) {
                           var found = false;
                           functionPatterns.forEach((pattern) => {
                               if (!pattern) { return; }
                               if (siblings[i].innerText.toLowerCase().startsWith(pattern.toLowerCase())) {
                                   found = true;
                               }
                           });
                           if (found) {
                               siblings[i].className = 'match';
                           }
                       }
                       functionPatterns.forEach((p) => {
                           if (!p) { return; }
                           if (item.innerText.toLowerCase().startsWith(p.toLowerCase())) {
                               item.className = 'match';
                           }
                       });
                   }
               });
           }
           var filled = true;
           var found_binName = false;
           if (binName.indexOf(binPattern) !== -1 && binPattern.length !== 0) {
               found_binName = true;
           }
   
           functionElems.forEach((i) => {
               {% for methodology_pair in site.data.methodology %}
               {% assign methodology_id = methodology_pair[0] %}
               {% assign methodology = methodology_pair[1] %}
               if (i.innerText.toLowerCase() == "{{ methodology.label | downcase }}" && i.className !== "match") {
                   filled = false;
               }
               {% endfor %}
           });
   
           var found_filter = -1;
           if (filter_chosen.length !== 0) {
               found_filter = 0;
               filter_chosen.forEach((f) => {
                   functionElems.forEach((i) => {
                       if (i.innerText.toLowerCase() == f) {
                           found_filter = found_filter + 1;
                       }
                   });
               });
           }
   
           var found_attack = -1;
           if (attack_chosen.length !== 0) {
               found_attack = 0;
               attack_chosen.forEach((a) => {
                   functionElems.forEach((i) => {
                       if (i.innerText.toLowerCase() == a) {
                           found_attack = found_attack + 1;
                       }
                   });
               });
           }
                       
           var found_os = -1;
           if (os_chosen.length !== 0) {
               found_os = 0;
               os_chosen.forEach((o) => {
                   functionElems.forEach((i) => {
                       if (i.innerText.toLowerCase() == o) {
                           found_os = found_os + 1;
                       }
                   });
               });
           }
   
           var found_vuln = -1;
           if (vuln_chosen.length !== 0) {
               found_vuln = 0;
               vuln_chosen.forEach((v) => {
                   functionElems.forEach((i) => {
                       if (i.innerText.toLowerCase() == v) {
                           found_vuln = found_vuln + 1;
                       }
                   });
               });
           }
   
           if ((!filled && (found_attack < 1 && found_filter < 1 && found_os < 1 && found_vuln < 1 && !found_binName)) ||
               (found_attack == 0 || found_filter == 0 || found_os == 0 || found_vuln == 0) ||
               (!filled && item_chosen.length !== 0) ||
               ((found_attack !== attack_chosen.length && found_attack !== -1) ||
               (found_filter !== filter_chosen.length && found_filter !== -1) ||
               (found_os !== os_chosen.length && found_os !== -1) ||
               (found_vuln !== vuln_chosen.length && found_vuln !== -1)) ||
               (binPattern.length !== 0 && !found_binName)) {
               row.style.display = 'none';
           } else {
               row.style.display = '';
               noResults = false;
           }
   
           if (functionPatterns.length == 0 && binPattern.length == 0) {
               row.style.display = '';
               noResults = false;
           }
       });
   
       // update the search message visibility
       // var searchMessage = document.getElementById('search-message');
       // searchMessage.style.display = noResults ? 'table-cell' : 'none';
   }
</script>
<script>
   function renumberVisibleRows() {
    const visibleRows = Array.from(document.querySelectorAll('#testcases .test-row'))
        .filter(row => row.style.display !== 'none');
    visibleRows.forEach((row, idx) => {
        const snoCell = row.querySelector('td');
        if (snoCell) snoCell.textContent = idx + 1;
    });
}

function filterTestcases() {
    const testRows = document.querySelectorAll('#testcases .test-row');
    if (!testRows.length) return;

    const checkedMethods = Array.from(document.querySelectorAll('input[name="methodology_name"]:checked')).map(cb => cb.id.trim().toLowerCase());
    const checkedPlatforms = Array.from(document.querySelectorAll('input[name="platform_name"]:checked')).map(cb => cb.id.trim().toLowerCase());
    const checkedServices = Array.from(document.querySelectorAll('input[name="service_name"]:checked')).map(cb => cb.id.trim().toLowerCase());
    const checkedOS = Array.from(document.querySelectorAll('input[name="OS_name"]:checked')).map(cb => cb.id.trim().toLowerCase());
    // FIX: Use vulnerabilities_name instead of vuln_name
    const checkedVulns = Array.from(document.querySelectorAll('input[name="vulnerabilities_name"]:checked')).map(cb => cb.id.trim().toLowerCase());

    testRows.forEach(row => {
        const rowMethods = (row.getAttribute('data-methods') || '').toLowerCase().split(',').map(s => s.trim()).filter(Boolean);
        const rowPlatforms = (row.getAttribute('data-platforms') || '').toLowerCase().split(',').map(s => s.trim()).filter(Boolean);
        const rowServices = (row.getAttribute('data-services') || '').toLowerCase().split(',').map(s => s.trim()).filter(Boolean);
        const rowOS = (row.getAttribute('data-os') || '').toLowerCase().split(',').map(s => s.trim()).filter(Boolean);
        const rowVulns = (row.getAttribute('data-vulnerabilities') || '').toLowerCase().split(',').map(s => s.trim()).filter(Boolean);

        const showMethod = checkedMethods.length === 0 || checkedMethods.some(m => rowMethods.includes(m));
        const showPlatform = checkedPlatforms.length === 0 || checkedPlatforms.some(p => rowPlatforms.includes(p));
        const showService = checkedServices.length === 0 || checkedServices.some(s => rowServices.includes(s));
        const showOS = checkedOS.length === 0 || checkedOS.some(o => rowOS.includes(o));
        const showVuln = checkedVulns.length === 0 || checkedVulns.some(v => rowVulns.includes(v));

        row.style.display = (showMethod && showPlatform && showService && showOS && showVuln) ? '' : 'none';
    });

    renumberVisibleRows();
}

// Attach filterTestcases to filter checkboxes
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('bin-search-wrapper').addEventListener('change', function (e) {
        if (e.target.matches('input[type="checkbox"][name="methodology_name"], input[type="checkbox"][name="platform_name"], input[type="checkbox"][name="service_name"], input[type="checkbox"][name="OS_name"], input[type="checkbox"][name="vulnerabilities_name"]')) {
            filterTestcases();
        }
    });
    filterTestcases();
});
</script>
<!-- Remove the global beforeunload listener and add unsaved changes tracking -->

<script>
// Track unsaved changes
let unsavedChanges = false;

// Helper to add/remove beforeunload listener
function setBeforeUnload(enable) {
    if (enable) {
        window.addEventListener('beforeunload', beforeUnloadHandler);
    } else {
        window.removeEventListener('beforeunload', beforeUnloadHandler);
    }
}

function beforeUnloadHandler(e) {
    e.preventDefault();
    e.returnValue = '';
}

// Mark unsaved changes on toggle or comment input
document.addEventListener('DOMContentLoaded', function () {
    // Checkbox toggles
    document.querySelectorAll('.tested-toggle, .applicable-toggle, .vulnerable-toggle').forEach(function (el) {
        el.addEventListener('change', function () {
            unsavedChanges = true;
            setBeforeUnload(true);
        });
    });
    // Comment inputs
    document.querySelectorAll('.comment-input').forEach(function (el) {
        el.addEventListener('input', function () {
            unsavedChanges = true;
            setBeforeUnload(true);
        });
    });
    // If you have a save/export button, reset unsavedChanges after saving
    document.getElementById('exportExcel').addEventListener('click', function () {
        unsavedChanges = false;
        setBeforeUnload(false);
    });
});

// Optionally, if you want to reset unsavedChanges after a successful save, call setBeforeUnload(false)
</script>